@use "../../assets/front/styles/variable" as *;

.sidebar {
  height: 100vh;
  width: 100%;
  background: $dark;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid $dark-2;
}

.logoMenu {
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 30px;
  border-bottom: $dark-2 1px solid;
  padding-bottom: 1.25rem;
  img {
    width: 230px;
    height: auto;
  }
  span {
    font-size: 18px;
  }
}

.logoIcon {
  width: 36px;
  height: 36px;
  background: $primary;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MENU */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  margin-bottom: 8px;
  border-radius: 12px;
  cursor: pointer;
  color: $gray;
  transition: all 0.2s ease;
}

/* ICON */
.icon {
  font-size: 16px;
  display: flex;
  width: 34px;
  height: 34px;
  background: rgba($white, 0.2);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

/* LABEL */
.label {
  font-size: 14px;
  font-weight: bold;
}

/* ACTIVE ITEM */
.active {
  background: linear-gradient(90deg, rgba($primary, 0.2), rgba($primary, 0.05));
  color: $primary;
}

/* HOVER */
.menuItem:hover {
  background: rgba($white, 0.04);
}

/* USER CARD */
.userCard {
  display: flex;
  align-items: center;
  gap: 10px;
  background: $dark;
  padding: 10px 12px;
  border-radius: 14px;
  margin-top: 20px;
}

/* AVATAR */
.avatar {
  width: 36px;
  height: 36px;
  background: linear-gradient(135deg, $secondary, $primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;
}

/* NAME */
.name {
  font-size: 13px;
  font-weight: 500;
}

/* PLAN */
.plan {
  font-size: 11px;
  color: $gray;
}

.overlay {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    height: 100%;
    z-index: 30;
    transition: 0.3s ease;
    width: 260px;
  }

  .showSidebar {
    left: 0;
  }

  .overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: rgba($dark, 0.6);
    z-index: 20;
  }
}
