@use "../../../assets/front/styles/variable" as *;
.loginWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, $dark-3, $dark-5);
}

.card {
  background: linear-gradient(180deg, $dark, $dark-3);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.loginBtn {
  width: 100%;
  padding: 10px;
  border: none;
  background: $primary;
  color: $white;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;

  &:hover {
    background: #0056b3;
  }

  &:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
}

:global(.form-control) {
  background-color: $dark !important;
  border: 1px solid $dark-2 !important;
  color: $white !important;
  border-radius: 10px;
  padding: 12px;
}

/* placeholder color */
:global(.form-control::placeholder) {
  color: $gray !important;
  opacity: 1;
}

/* focus state */
:global(.form-control:focus) {
  background-color: $dark !important;
  color: $white !important;
  border-color: $text-light !important;
  box-shadow: none !important;
}
:global(.form-label) {
  color: $white;
}
