@use "../../assets/front/styles/variable" as *;

.header {
  background: linear-gradient(180deg, #07122b, #040a18);
  border-bottom: 1px solid rgba($white, 0.05);
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
/* FIX ALIGNMENT */
.logoArea {
  display: flex;
  align-items: center;
  flex: 0 0 150px;
  max-width: 150px;
}

.nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.signinArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  flex: 0 0 calc(100% - 300px);
  max-width: 100%;
  ul {
    display: flex;
    justify-content: center;
    gap: 35px;
  }

  a {
    color: $gray;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: $white;
    }
  }
}
.signinArea {
  flex: 0 0 150px;
  max-width: 150px;
  .signin {
    background: $primary;
    color: $white;
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    border: none;

    &:hover {
      background: $secondary;
    }
  }

  :global(.dropdown-menu) {
    background-color: $dark-4 !important;
    border: 1px solid rgba($white, 0.08);
  }

  :global(.dropdown-item) {
    color: $white !important;
    transition: 0.3s;
    font-size: 0.875rem;

    &:hover {
      background-color: rgba($white, 0.08);
      color: $white;
    }
  }

  :global(.dropdown-toggle) {
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .header {
    padding: 12px 0;
  }

  .logo img {
    width: 110px;
    height: auto;
  }
}

.menuBtn {
  display: none;
}

/* MOBILE ONLY ELEMENT */
.mobileOnly {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .menuBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #020617;
    border: 1px solid #1e293b;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
  }

  /* NAV COLLAPSE */
  .nav {
    position: fixed;
    top: 0;
    left: -265px;
    width: 265px;
    background: #020617;
    border-top: 1px solid #1e293b;
    height: 100%;
    transition: 0.3s ease;
    padding: 50px 30px;
    a {
      display: block;
      text-align: left;
      font-weight: 600;
      color: #fff;
    }
  }

  .nav.open {
    left: 0;
  }

  .nav ul {
    flex-direction: column;
    // align-items: center;
    gap: 15px;
  }

  .mobileOnly {
    display: block;
  }

  .mobileSignin {
    background: #ef4444;
    padding: 8px 16px;
    border-radius: 6px;
  }
}
