$primary: #f7502f;
$secondary: #eea70d;
$secondary-2: #e7ddd1;
$secondary-3: #fddfd8;
$secondary-4: #ffcdc3;

$bg-green: #1ca127;
$bg-green-2: #27ecbe;

$white: #fff;
$dark: #020617;
$dark-2: #2c2c2c;
$dark-3: #0f172a;
$dark-4: #1e293b;
$dark-5: #1e293b;
$border: #334155;
$gray: #94a3b8;
$text-muted: #94a3b8;
$text-light: #64748b;

$danger: #ef4444;
$success: #22c55e;
$warning: #facc15;
