$primary: #f7502f;
$secondary: #ff9c88;
$secondary-2: #e7ddd1;
$secondary-3: #fddfd8;
$secondary-4: #ffcdc3;

$bg-green: #1ca127;
$bg-green-2: #27ecbe;

$white: #fff;
$dark: #141414;
$dark-2: #2c2c2c;
$gray: #696a75;
